.DisplayTask {
    margin: 0 auto;
    width: 86.5%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
    background-color: rgba(70, 130, 180, 0.07);
}

.DivTask, .EditTask{
    display: flex;
    align-items: center;
}

.DivTask > p {
    padding: 1.2rem;
    font-size: 1.3rem;
    margin-left: 1rem;
    color: steelblue;
}

.EditTask > span > i {
    padding: 0.3rem;
    font-size: 1.3rem;
    color: rgba(70, 130, 180, 0.66);
}

.Input {
    padding: 1rem 10rem;
    font-size: 1.8rem;
    color: steelblue;
    font-style: italic;
}

.Completed {
    text-decoration-line: line-through;
}

