* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: steelblue;
}


.App {
    margin: 5rem auto;
    padding: 1rem;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Task {
    width: 100%;
    padding: 1rem 0;
}